@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  scrollbar-color: teal white;
}

.shadow-box {
  box-shadow:
    0 5px 15px -1px rgba(0, 0, 0, 0.027),
    0 15px 20px -10px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}
